.btn-primary{
    border-radius: 30px;
    background-color: #d21088eb;
    color: white;
    font-size: 20px;
    padding: 13px 25px;
}
.btn-one{
    border-radius: 30px;
    background-color: #10a5d2eb;
    color: white;
    padding: 13px 25px;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
}

